header{
    text-align: center;
}
main{
    height:80vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.imageContainer,.infoContainer{
    width:40%;
}
.imageContainer>img{
    max-width:500px;
}
.colorPalette{
    display: flex;
    gap:10px;
    padding:20px 0;
}
.isActive{
    border:2px solid red;
}
.isNonActive{
    border:0;
}
#logo{
    display: flex;
    padding:20px 20px;
    width:50%;
    justify-content: flex-start;
    gap:80px;
    font-size:18px;
    color:white;
    cursor: pointer;
    margin-top:30px;
}
#logo>input{
    display: none;
}
#logo>svg{
    fill:white;
    stroke-width: 42px;
}
.infoContainer>h3,.infoContainer>p{
    margin:4px 4px 8px;
}
.infoContainer>p{
    color:rgb(87, 87, 87);
}
.infoContainer>h1{
    font-size:40px;
}
.loader>svg{
    width:100px;
    height:100px;
    animation: rotatee 1s infinite linear;
}
.loader{
    display: none;
    justify-content: center;
}
.companyName{
    position: relative;
    width:150px;
    height:40px;
    top:-70px;
    left:180px;
}
@keyframes rotatee {
    100%{
        transform:rotate(360deg);
    }
}